pywebview == 5.4 ; python_version >= "3.9" and python_version < "3.14" and platform_system == "Windows" or platform_system == "Darwin"
rich == 13.9.4 ; python_version >= "3.9" and python_version < "3.14" and platform_system == "Windows" or platform_system == "Darwin"
